# Copy this file to .env before rebuilding the dev container.
# Leave values empty if you do not need a proxy.

HTTP_PROXY=http://host.docker.internal:7890
HTTPS_PROXY=http://host.docker.internal:7890
NO_PROXY=localhost,127.0.0.1,host.docker.internal

http_proxy=http://host.docker.internal:7890
https_proxy=http://host.docker.internal:7890
no_proxy=localhost,127.0.0.1,host.docker.internal
